.debug {
	background-color: #FFFFFF;
	color: #000000;
}
.debug small {
	color: #6D79DE;
}
.debug .arrow,
.debug .const {
	color: #0000FF;
}
.debug .count {
	font-size: 10px;
	color: #0066FF;
}
.debug .name {
	color: #036A07;
}
.debug .objname {
	color: #3C4C72;
}